@model AppMVCBasica.Models.Fornecedor

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Fornecedor</h1>

<h4>Fornecedor</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento" class="control-label"></label>
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoFornecedor" class="control-label"></label><br />
                <input type="radio" value="1" asp-for="TipoFornecedor" checked /> Pessoa Física <br />
                <input type="radio" value="2" asp-for="TipoFornecedor" /> Pessoa Jurídica
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>

            <hr />
            <h4>Endreço</h4>
            <partial name="_Endereco" />


            <div class="form-group">
                <br />
                <input type="submit" value="Cem Cadastro(s)" class="btn btn-primary" asp-action="CreateCem" />
                <input type="submit" value="Mil Cadastro(s)" class="btn btn-secondary" asp-action="CreateMil" />
                <input type="submit" value="Dez mil Cadastro(s)" class="btn btn-success" asp-action="CreateDezMil" />
                <input type="submit" value="Cem mil Cadastro(s)" class="btn btn-warning" asp-action="CreateCemMil"/>
                <input type="submit" value="1 milhão de Cadastro(s)" class="btn btn-danger" asp-action="CreateUmMilhao"/>
            </div>

        </form>
    </div>
</div>
<div>
<br />

    <a class="btn btn-info" asp-action="Index">Voltar </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
