@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-4">Bem-vindo</h1>
    <br />
    <br />
    <br />
   <img src="~/imgs/esoque.webp" width="814" height="596"/>
    <br />
    <br />
   <!-- p>Sistema desenvolvido para fins institucionais.</p> --><
</div>
